@utility drag-region {
  -webkit-app-region: drag;
}

@utility no-drag-region {
  -webkit-app-region: no-drag;
}

@utility grid-auto-cols {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
