@layer components {
  .drag-region {
    -webkit-app-region: drag;
  }

  .no-drag-region {
    -webkit-app-region: no-drag;
  }

  .grid-history-cols {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
